---
interface Props {
  name: string
}

const { name } = Astro.props
---

<div class="flex gap-2">
  <div
    class="bg-slate-700 px-4 py-2 rounded-full text-slate-200 text-sm transition hover:scale-105">
    {name}
  </div>
</div>
